<header class="header-risk">
  <div [style.background]="headerService.background" class="top-nav">
    <a routerLink="/">
      <img
        src="../../assets/shared-image/mask-group.svg"
        alt="~/Frontend/images/question-circular-button.svg"
        height="58"
      />
      <span> <b>CGIAR</b> MQAP </span>
    </a>

    <nav>
      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="user"
      >
        <div>
          <img
            class="user-nav-button__icon--1"
            src="../../assets/shared-image/🦆 icon _User avatar filled_.svg"
            alt="~/Frontend/images/icon _User avatar"
            height="16px"
          />
          <span class="user-nav-button__title--1">
            {{ user.full_name }}
          </span>
        </div>
      </button>
      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="!user"
        (click)="login()"
      >
        <div>
          <img
            class="user-nav-button__icon--1"
            src="../../assets/shared-image/🦆 icon _User avatar filled_.svg"
            alt="~/Frontend/images/icon _User avatar"
            height="16px"
          />
          <span class="user-nav-button__title--1"> Login </span>
        </div>
      </button>

      <button
        [style.background]="headerService.backgroundUserNavButton"
        mat-button
        *ngIf="user"
        (click)="logout()"
      >
        <div>
          <img
            src="../../assets/shared-image/🦆 icon _logout_.svg"
            class="user-nav-button__icon--2"
            alt="~/Frontend/images/icon _logout"
            height="16px"
          />
          <span class="user-nav-button__title--1"> Logout </span>
        </div>
      </button>
    </nav>
  </div>

  <nav [style.background]="headerService.backgroundNavMain">
    <ul>
      <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-button
        >
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="training-data" routerLinkActive="active" mat-button>
          <span>Training Data</span>
        </a>
      </li>
      <li>
        <a routerLink="training-cycle" routerLinkActive="active" mat-button>
          <span>Training cycle</span>
        </a>
      </li>
      <li>
        <a routerLink="predictions" routerLinkActive="active" mat-button>
          <span>Predictions</span>
        </a>
      </li>
      <li>
        <a routerLink="clarisa" routerLinkActive="active" mat-button>
          <span>Clarisa</span>
        </a>
      </li>

      <li>
        <a routerLink="commodities" routerLinkActive="active" mat-button>
          <span>Commodities</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
