.header-risk {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }

  &__main-nav {
    height: 5.4rem;

    &__background-c-primary {
      background-color: var(color-main-nav-link-primary);
    }

    &__background-c-secondary {
      background-color: var(color-main-nav-link-secondary);
    }
  }

  &__background-c-primary {
    background-color: var(color-main-header-risk-primary);
  }

  &__background-c-secondary {
    background-color: var(color-main-header-risk-secondary);
  }
}

.header-content-box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0.5rem 0;

  @media only screen and (max-width: 64em) {
    padding: 1rem;
  }

  &--2 {
    width: 40.6rem;
    height: 8rem;
    &__title {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 3rem;
      letter-spacing: 0em;
      margin-top: 2.4rem;
      // color: rgba(255, 255, 255, 0.8745098039);
      background-image: linear-gradient(to bottom, #ffffff, #ededed7f);
      -webkit-background-clip: text;
      color: transparent;
      transition: all 0.2s;

      font-weight: 600;

      &--1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0em;

        // color: #ffffff;
        background-image: linear-gradient(to right, #ffffff, #ededed);
        -webkit-background-clip: text;
        color: transparent;
        transition: all 0.2s;
        letter-spacing: 0.1rem;
        font-weight: 600;
      }
    }
  }
}

.header-user-nav-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0 0rem;

  @media only screen and (max-width: 64em) {
    //change on 1024
    gap: 1.3rem;
    padding: 1rem;
  }
  ////////////////////////////////
}

.user-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.6rem;
  height: 4.6rem;
  border-radius: 4px;
  gap: 1.5rem;
  padding: 2.5rem;

  @media only screen and (max-width: 64em) {
    //change on 1024
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15.6rem;
    height: 4.6rem;
    border-radius: 4px;
    gap: 2.5rem;
    padding: 1.5rem 0 1.5rem 1.3rem;
  }
  ////////////////////////////////

  &__icon {
    width: 3.1rem;
    height: 3rem;

    &--1 {
      width: 3.1rem;
      height: 3rem;

      // @media only screen and (max-width: 64em) {
      //   //change on 1024

      //   margin-left: 0rem;
      // }
      // ////////////////////////////////
    }

    &--2 {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &__title--1 {
    color: #ffffff;

    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 107px;
  }

  &__title--3 {
    color: #ffffff;

    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 170px;
  }

  &__title--2 {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  &__background-c-primary {
    background-color: var(color-user-nav-primary);
  }

  &__background-c-secondary {
    background-color: var(color-user-nav-secondary);
  }
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: 5rem;

  @media only screen and (max-width: 160em) {
    //change on 1024
    margin-left: 2.3rem;
  }
  ////////////////////////////////

  @media only screen and (max-width: 90em) {
    //change on 1024
    margin-left: 2.3rem;
  }
  ////////////////////////////////

  @media only screen and (max-width: 64em) {
    //change on 1024

    gap: 1.2rem;
    margin-left: -1rem;
  }
  ////////////////////////////////
}

.main-nav-link:link,
.main-nav-link:visited {
  margin: 1.2rem -5rem 0.9rem 4rem;
  display: inline-block;
  padding: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s;
}

.active {
  font-weight: 700 !important;
  color: #2a2e45 !important;
  // background-color: #ffffff;
  background-image: linear-gradient(to right, #ffffff, #dbdbdb);
}

.header-logo-size {
  height: 4.8rem;
  width: 7rem;
  object-fit: contain;
}

.user-nav-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    gap: 1rem;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 1rem 1rem;

    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
