<app-dialog-layout>
  <h3 header-label>Contact us</h3>
  <button header-action mat-icon-button (click)="dialogRef.close(false)">
    <mat-icon> close </mat-icon>
  </button>

  <section content>
    <div>
      <div>
        <p>Please do not hesitate to contact us:</p>
      </div>
      <div>
        <p>
          For technical questions related with this tool, please contact

          <a href="mailto:PRMSTechSupport@cgiar.org"
            >PRMSTechSupport&#64;cgiar.org &rarr;</a
          >
        </p>
      </div>

    </div>
  </section>

  <button
    action
    type="submit"
    mat-raised-button
    color="primary"
    (click)="dialogRef.close(false)"
  >
    Close
  </button>
</app-dialog-layout>
