.contact-box {
  width: auto;
  height: auto;
  background-color: #ffffff;
}

.contact-header {
  padding: 0 0.5rem;
}

.contact-content-box {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #0f212f;
}

.el-1 {
  height: 100%;
  width: 1.3215rem;
}

.el-2 {
  height: 100%;
  flex: 1;
  background-color: #ffffff;
}

.el-3 {
  width: 1.3215rem;
  height: 100%;
}

.el-2-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;

  padding: 5.2rem 7rem;
}

.contact-text-main {
  color: #626262;
  font-family: "Poppins", sans-serif !important;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3.2rem;
}

.contact-text-box {
  text-align: center;
  display: flex;

  &__text {
    font-family: "Poppins", sans-serif !important;
    color: #818181;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;

    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;

    color: #9298fe;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 1px solid transparent;
  }
}

.close-box {
  position: relative;
  text-align: end;
  top: -4rem;
  right: -6rem;
}

.form-dialog-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  // border-radius: 0.2rem 0.2rem 0rem 0;
  background-color: #0f212f00;
  padding: 0 1rem;

  &__text-box {
    width: 62.4rem;
    height: 2.4rem;
    font-family: "Poppins", sans-serif !important;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  &__icon-box {
    // width: 1.8rem;

    // style="background-color: #2a2e45; border: none; cursor: pointer"

    &__btn {
      border: none;
      background-color: #0f212f00;
      cursor: pointer;
      outline: none;
    }
  }
}

.contact-dialog-header__icon {
  filter: invert(1);
}

::ng-deep .mdc-dialog .mdc-dialog__content {
  padding: 0 !important;
}
