.risk-report-title-box {
    text-align: center;
    padding: 4.8rem 4rem 0 4rem;
  
    &__title {
      color: #04030f;
      text-align: left;
      font-family: "Poppins", sans-serif !important;
      font-size: 4.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  