

.form-dialog-content {
  display: flex;
  flex-direction: column;
  // gap: 3rem;
}

.form-dialog-conten-button-box {
  text-align: right;
  margin-top: 3rem;

  .error {
    float: left !important;
  }
}

::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
  padding: 0 0.5em;
  min-height: 60px;
  width: 57.8rem;
  height: 4.4rem !important;
  position: relative !important;
  background-color: none !important;
  &::-webkit-input-placeholder {
    font-family: "Poppins", sans-serif;

    font-style: normal;
    font-weight: 300;

    position: absolute !important;
    top: 50% !important;
    left: 45% !important;
    transform: translate(-71%, -43%);

    color: #142837d9 !important;

    font-size: 1.4rem !important;

    line-height: 171.5%; /* 2.401rem */
  }
}

.form-dialog-content {
  position: relative;
  &__title-box {
    margin-bottom: 1rem;
    margin-left: -1rem;
    &__title {
      font-family: "Poppins", sans-serif !important;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;
    }
  }

  &__field {
    width: 57.8rem;
    height: 4.4rem !important;
    border-radius: 10px !important;
    background-color: none;

    // border: 1px solid #808080 !important;

    &--grid-column {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    // border: 1px solid #808080 !important;
  }

  &__field--2 {
    width: 25.2rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  &__field--3 {
    width: 28.6rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  // &__button-box {
  //   &__btn {

  //   }
  // }
}

// :host {
//   ::ng-deep
//     .mdc-text-field--outlined:not(
//       .mdc-text-field--disabled
//     ).mdc-text-field--focused
//     .mdc-notched-outline__leading,
//   ::ng-deep
//     .mdc-text-field--outlined:not(
//       .mdc-text-field--disabled
//     ).mdc-text-field--focused
//     .mdc-notched-outline__notch,
//   ::ng-deep
//     .mdc-text-field--outlined:not(
//       .mdc-text-field--disabled
//     ).mdc-text-field--focused
//     .mdc-notched-outline__trailing {
//     border-color: #3b3b3b1f;
//   }
// }

// ::ng-deep
//   .ng-select-searchable
//   .ng-select-clearable
//   .ng-select
//   .ng-select-single
//   .ng-pristine
//   .ng-valid
//   .ng-select-bottom
//   .ng-touched {
//   border-color: #3b3b3b1f !important;
// }

// ::ng-deep.ng-select div,
// .ng-select input,
// .ng-select span {
//   box-sizing: border-box;
//   padding: 0px 1rem !important;
// }

// ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
//   position: absolute;
//   color: none !important;
//   transform-origin: left 0;
//   transition: none !important;
//   border-color: #3b3b3b1f !important;
// }

// :host {
//   ::ng-deep
//     .ng-dropdown-panel
//     .ng-dropdown-panel-items
//     .ng-option.ng-option-marked {
//     background: rgba(0, 0, 0, 0.04);
//     color: rgba(0, 0, 0, 0.87);
//     display: flex !important;
//     justify-content: space-between !important;
//   }
// }

// .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
//   font-weight: bold;
//   color: #dbe8ef;
// }
// .ng-option-label {
//   color: red;
// }

// .ng-select.custom {
//   border: 0px;
//   min-height: 0px;
//   border-radius: 0;
// }
// .ng-select.custom .ng-select-container {
//   min-height: 0px;
//   border-radius: 0;
// }

// .ng-select.custom ::ng-deep .ng-select-container {
//   min-height: 0px;
//   border-radius: 0;
// }

// ng-select.ng-invalid.ng-touched .ng-select-container {
//   border-color: #dc3545;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
// }

// ::ng-deep.card {
//   position: relative;
//   display: -webkit-box;
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   word-wrap: break-word;
//   background-color: #fff;
//   background-clip: border-box;
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-radius: 0.25rem;
// }

// ::ng-deep.card-body {
//   flex: 1 1 auto;
//   padding: 1.25rem;
// }
// ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
//   font-weight: bold;
//   color: #dbe8ef;
// }
// ::ng-deep.ng-option-label {
//   color: red;
// }

// :ng-deep.ng-select.ng-select-single
//   .ng-select-container
//   .ng-value-container
//   .ng-input {
//   top: 1px !important;
//   left: 0;
//   padding-left: 10px;
//   padding-right: 50px;
// }

.ng-select-option-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0f212f;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 1.374rem */
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 49px !important;

  border: 2px solid #8080804c !important;
  border-radius: 1rem !important;
}

::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  box-sizing: content-box;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  outline: none;
  padding: 0;
  cursor: default;
  width: 100%;
  position: relative;
  // top: 13px !important;
}

:host {
  ::ng-deep.ng-select .ng-select-container.ng-appearance-outline {
    padding: 0 0.5em;
    min-height: 60px;
    width: 57.8rem;
    height: 4.4rem !important;
    position: relative !important;
    background-color: none !important;
    /* border-radius: 1rem; */
    /* border: 2.5px solid #8080807c !important; */
    /* border-radius: 1rem !important; */
    height: 49px !important;
    border: 2px solid #8080804c !important;
    border-radius: 1rem !important;
  }
}

::ng-deep.ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input {
  top: 18px !important;
  left: 0;
  padding-left: 15px !important;
  padding-right: 50px;
}

:host {
  ::ng-deep.mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 1.3rem !important;
    // animation: moveInBottom 0.5s ease-out 0.75s !important;
    // animation-fill-mode: backwards !important;
    animation-name: moveInLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

:host {
  ::ng-deep .mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0 !important;
  }
}

// ::ng-deep.ng-select.ng-invalid.ng-touched {
//   .ng-select-container {
//     border: 1px solid red !important;
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
//   }
// }

// ::ng-deep.mdc-text-field--invalid:not(.mdc-text-field--disabled)
//   .mdc-notched-outline__leading,
// .mdc-text-field--invalid:not(.mdc-text-field--disabled)
//   .mdc-notched-outline__notch,
// .mdc-text-field--invalid:not(.mdc-text-field--disabled)
//   .mdc-notched-outline__trailing {
//   border-color: #ffffff00 !important;
// }

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: rgba(255, 0, 0, 0) !important;
}

.risk-report-btn-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 15px;
  transition: all 0.3s;
}

.create-risk {
  width: 2.2rem !important;
  height: 2.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: -0.1rem;
  left: 0.5rem;
}

.create-risk-2 {
  width: 1.5rem !important;
  height: 1.5rem !important;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  top: 0.3rem;
  left: 0.5rem;
}
.risk-report-title-box {
  text-align: center;
  padding: 4.8rem 0;
  &__title {
    color: #0f212f;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #0f212f;
  color: #ffffff;
}
.btn--white::after {
  background-color: #0f212f;
}

.btn--chestnut {
  background-color: #5569dd !important;
  color: #ffffff;
}
.btn--chestnut::after {
  background-color: #5569dd !important;
}

.btn--white-2 {
  background-image: linear-gradient(to right, #436280, #30455b);
  color: #ffffff;
}
.btn--white-2::after {
  background-image: linear-gradient(to right, #436280, #30455b);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.85s;
  animation-fill-mode: backwards;
}
