@import "../../sass/components/button";
@import "../../sass/components/training-data-table";

form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  & > :first-child {
    flex: auto;
  }
  & > :last-child {
    width: 100%;
    max-width: 24rem;
  }
}

.risk-management-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.risk-report-button-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user-management__search-box-flex {
  // margin-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  // margin-bottom: 3rem;
}

.user-management__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 0.5rem;
    // background-color: $color-button-primary !important;
    background-image: linear-gradient(to top right, #0f212f, #060e14);
    box-shadow: 4px 4px 4px 0px #00000040;
    // cursor: url(../../../../../assets/shared-image/Vector-cursor.svg), pointer !important;
    background-image: linear-gradient(
      to right bottom,
      #9e553e,
      #7c4230
    ) !important;
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  transition: all 0.2s;
  position: relative;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
