<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ trainingData.id == "add" ? "Add" : "Edit" }} Training Data
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-conten-box-1">
  <form [formGroup]="trainingFormData" class="form-dialog-content">
    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Text<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input matInput formControlName="text" />
      </mat-form-field>
    </div>

    <!-- //search-by-Email filed----- -->

    <!-- //CLARISA  filed----- -->
    <div class="form-dialog-conten-box-2">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >CLARISA<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select placeholder="CLARISA" formControlName="clarisa">
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- //Source  filed----- -->
    <div class="form-dialog-conten-box-2">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Source<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select placeholder="Source" formControlName="source">
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <div class="form-dialog-conten-button-box">
        <div class="form-dialog-conten__button-box" align="end">
          <!-- <button mat-button mat-dialog-close>Cancel</button> -->
          <div class="risk-report-button-box">
            <button
              class="risk-report-button-box__btn btn--chestnut btn"
              type="submit"
              mat-raised-button
              mat-button
              color="primary"
              mat-button
              color="primary"
            >
              <mat-icon
                *ngIf="trainingData.id === 'add'; else edit"
                class="create-risk-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="13"
                  viewBox="0 0 13 13"
                  fill="none"
                >
                  <path
                    d="M11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0ZM11.5556 11.5556H1.44444V1.44444H11.5556V11.5556ZM5.77778 10.1111H7.22222V7.22222H10.1111V5.77778H7.22222V2.88889H5.77778V5.77778H2.88889V7.22222H5.77778V10.1111Z"
                    fill="white"
                  />
                </svg>
              </mat-icon>
              <ng-template #edit>
                <mat-icon class="create-risk">
                  <span class="material-symbols-outlined"> edit_note </span>
                </mat-icon>
              </ng-template>

              {{ trainingData.id === "add" ? "Add" : "Edit" }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="end">
   
    </div> -->
  </form>
</div>
