<div class="form-dialog-header">
  <div class="form-dialog-header__text-box">
    <p class="form-dialog-header__text-box__text">
      {{ TrainningDataId ? "Edit" : "Add" }} Training Data
    </p>
  </div>

  <div class="form-dialog-header__icon-box">
    <button class="form-dialog-header__icon-box__btn" (click)="onCloseDialog()">
      <mat-icon class="form-dialog-header__icon-box__icon-size">
        <img
          class="form-dialog-header__icon-box__icon-size__icon"
          src="../../../assets/shared-image/Vector-close.svg"
          alt="~/Frontend/images/icon _ Vector-close"
        />
      </mat-icon>
    </button>
  </div>
</div>

<div class="form-dialog-conten-box-1">
  <form [formGroup]="trainingFormData" class="form-dialog-content">
    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Text<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input matInput formControlName="text" />
      </mat-form-field>
    </div>

    <!-- //search-by-Email filed----- -->

    <!-- //CLARISA  filed----- -->
    <!-- <div class="form-dialog-conten-box-2">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >CLARISA<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field--2"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select placeholder="CLARISA" formControlName="clarisa">
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Clarisa<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <mat-select formControlName="clarisa_id">
          <mat-option *ngFor="let organization of organizations" [value]="organization.id">
            {{ organization.name }}
          </mat-option>
        </mat-select>

       
        
      </mat-form-field>
    </div>

    <!-- <ng-select [items]="organizations"
    bindValue="id"
    bindLabel="name"
    
    placeholder="Select City"
    formControlName="clarisa_id">

<ng-template ng-header-tmp>



</ng-template>

</ng-select> -->

      <!-- <mat-error
        class="error"
        *ngIf="meliaForm?.errors?.['partnersRequired'] && showerror"
        >This field is mandatory</mat-error
      > -->

      <!-- <mat-error
        class="error"
        *ngIf="meliaForm.controls?.['partners']?.errors?.['required']"
        >This field is mandatory</mat-error
      > -->
  
    

    <!-- //Source  filed----- -->


    <div class="form-dialog-content__field--grid-column">
      <div class="form-dialog-content__title-box">
        <mat-label class="form-dialog-content__title-box__title"
          >Source<span class="star">*</span></mat-label
        >
      </div>
      <mat-form-field
        class="form-dialog-content__field"
        floatLabel="always"
        hideRequiredMarker
        appearance="outline"
      >
        <input matInput formControlName="source" />
      </mat-form-field>
    </div>





    <div>
      <div class="form-dialog-conten-button-box">
        <div class="form-dialog-conten__button-box m-t" >
          <!-- <button mat-button mat-dialog-close>Cancel</button> -->
          <div class="risk-report-button-box">
          
          <button
          class="risk-report-button-box__btn btn--animated btn--chestnut btn"
            type="submit"
            mat-raised-button
            mat-button
            color="primary"
            (click)="submit()"
          >
            {{ TrainningDataId ? "Edit" : "Add" }}
          </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="end">
   
    </div> -->
  </form>
</div>
