<ng-container *ngIf="statistics">
  <app-page-container>
    <app-h1>Dashboard</app-h1>
    <div>
      <h4>Total</h4>
      <section class="avg">
        <app-container>
          <h5>Prediction</h5>
          <span>{{ statistics.totalPrediction }}</span>
        </app-container>
        <app-container>
          <h5>Organization</h5>
          <span>{{ statistics.totalOrganization }}</span>
        </app-container>
        <app-container>
          <h5>training cycle</h5>
          <span>{{ statistics.totalTrainingCycle }}</span>
        </app-container>
        <app-container>
          <h5>Training data</h5>
          <span>{{ statistics.totalTrainingData }}</span>
        </app-container>

        <app-container>
          <h5>Commodities</h5>
          <span>{{ statistics.totalCommodities }}</span>
        </app-container>
      </section>

      <h4>Count prediction for each Cycle</h4>

      <app-container>
        <div [chart]="countChart"></div>
      </app-container>

      <h4>Average prediction for each Cycle</h4>
      <app-container>
        <div [chart]="averageChart"></div>
      </app-container>
    </div>
  </app-page-container>
</ng-container>
