div {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #2caffe;
  }

  .avg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    app-container {
      flex: 1;
      min-width: 190px;
      width: 100%;
    }
  }

  h5 {
    font-size: 1.25rem;
    color: #050410;
  }

  span {
    font-size: 2rem;
    color: #2caffe;
    display: block;
    text-align: right;
    border-bottom: 2px solid #2caffe;
    padding-bottom: 1rem;
    font-weight: 100;
  }
}
