.admin-module-box {
  display: flex;
  background-image: linear-gradient(to right bottom, #fafafa, #e8e8e8);
  min-height: calc(100vh - 142px);
  &__sidebar {
    width: 18%;
    background-image: linear-gradient(to bottom, #0f212f, #09151e);

    @media only screen and (max-width: 160em) {
      flex: 0 0 25.6rem;
    }
  }
  &__content {
    width: 81%;
    height: 100%;
    padding: 0 2.5rem;
    margin-bottom: 9.6rem;

    @media only screen and (max-width: 84em) {
      width: 80%;
    }
  }
}
