<div class="risk-management-content">
    <div class="table-box">
      <div class="table-box mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
  
          <!-- Text Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
  
       
  
          <!--  parentId Column -->
          <ng-container matColumnDef="parent_id" >
            <th mat-header-cell *matHeaderCellDef>parentId</th>
            <td mat-cell *matCellDef="let element">
              {{ element.parent_id }}
            </td>
          </ng-container>
  
  
          
  
          <tr
            class="table-header"
            mat-header-row
            *matHeaderRowDef="columnsToDisplay"
          ></tr>
          <tr
            class="table-header"
            mat-row
            *matRowDef="let row; columns: columnsToDisplay"
          ></tr>
        </table>
  
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  