@import "../../../sass/components/predictions-table";

.risk-management-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-management__search-box-flex {
  // margin-top: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: left;
  // margin-bottom: 3rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63.6869rem;
  height: 3.4865rem;
  flex-shrink: 0;

  margin-left: -4rem !important;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    // &:focus {
    //   outline: none;
    // }

    // &:active {
    //   transform: translateY(2px);
    // }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
  }
}

.btn-primary-size {
  width: 9rem;
  height: 3rem;
  flex-shrink: 0;
}

.user-management__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 0.5rem;
    // background-color: var(color-button-primary) !important;
    background-image: linear-gradient(to top right, #0f212f, #060e14);
    box-shadow: 4px 4px 4px 0px #00000040;
    // cursor: url(../../../../../assets/shared-image/Vector-cursor.svg), pointer !important;
    background-image: linear-gradient(
      to right bottom,
      #9e553e,
      #7c4230
    ) !important;
  }
}
