<div class="main-container" [style.background]="headerService.backgroundFooter">
  <div>
    <img
      src="../../assets/shared-image/mask-group.svg"
      alt="~/Frontend/images/question-circular-button.svg"
      height="58"
    />
  </div>

  <div>
    <nav class="footer-nav">
      <ul>
        <li>
          <a mat-button (click)="openDialogContactUs()">Contact Us</a>
        </li>
        <li>
          <a
            mat-button
            href="https://cgiar-prms.notion.site/Legal-Terms-eb2f3e436f3e46bd9057b1cb1e3391b8"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <a mat-button routerLink="/license">License</a>
        </li>
      </ul>
    </nav>

    <div>
      <p>© 2023 CGIAR System Organization. All rights reserved.</p>
    </div>
  </div>
</div>
