.sidebar {
  &__title-box {
    height: 9.1rem;
    position: relative;
    // background-color: #00000075;

    &--title {
      position: absolute;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 2.4rem;
      letter-spacing: 0em;
      // color: #ffffff;
      top: 35%;
      left: 30%;
      background-image: linear-gradient(to right bottom, #ffffff, #ededed);
      -webkit-background-clip: text;
      color: transparent;
      transition: all 0.2s;
      font-weight: 600;
    }
  }
}

.side-nav-icon-box {
  &__title--1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.6rem 0 2rem 0;
  }

  &__title--2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.6rem 0 1rem 0;
  }

  &__title--3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.6rem 0 1rem 0;
  }

  &__title--4 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;

    margin: 0.6rem 0 1rem 0;
  }

  &__title--5 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.6rem 0 1rem 0;
  }

  &__title--6 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.6rem 0 1rem 0;
  }

  &__title--7 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
    margin: 0.5rem 0 0.2rem 0;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0em;
  }
}

.side-nav {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 0.3rem;

  &__item {
    position: relative;
    display: flex;
    /* justify-content: center; */
    gap: 0.5rem;
    /* padding-top: 0.8rem; */
    width: 25.5rem;
    height: 4.1rem;
    padding: 0.8rem 0 0 3rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    transition: all 0.3s;
  }

  &__active {
    background-image: linear-gradient(to right top, #a3bad24c, #6d91b70b);
  }

  &__items:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__items:active::before {
    background-image: linear-gradient(to right top, #a3bad24c, #6d91b70b);
  }

  &__items {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to right top, #a3bad24c, #6d91b70b);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__active::before {
    background-image: linear-gradient(to right bottom, #a3bad200, #6d91b700);
  }
}
