// .tab {
//   margin-top: 4rem;
// }

::ng-deep .mat-mdc-tab-link .mdc-tab__text-label {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

::ng-deep .mat-mdc-tab-header {
  margin-top: -68px !important ;
}
::ng-deep .mat-mdc-tab-body {
  margin-top: 74px !important;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled)
  .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled)
  .mdc-tab-indicator__content--underline {
  border-color: #3f51b500;
}

::ng-deep
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  flex-grow: 0 !important;
}

::ng-deep .mdc-tab {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  // margin-top: 6.2rem !important;
  // margin-left: -6.4rem !important;
  width: 197px;
  height: 40px;

  border-radius: 16px 0px 0px 0px;
  border: 0.2px solid #b9b9b9;

  // background-color: #5569dd;
}

::ng-deep .mdc-tab {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  // margin-top: 6.2rem !important;
  // margin-left: -6.4rem !important;
  width: 197px;
  height: 40px;

  border-radius: 16px 0px 0px 0px;
  border: 0.2px solid #b9b9b9;

  // background-color: #5569dd;
}

// .tab-active {
//   font-family: "Poppins", sans-serif !important;
//   font-size: 16px;
//   font-weight: 600;
//   line-height: 24px;
//   letter-spacing: 0em;
//   text-align: center;
//   // margin-top: 6.2rem !important;
//   // margin-left: -6.4rem !important;
//   width: 197px;
//   height: 40px;
//  color: #FFFFFF !important;
//   border-radius: 16px 0px 0px 0px;
//   border: 0.2px solid #b9b9b9;
//   background-color: #5569dd !important;

// }

::ng-deep .mdc-tab:nth-child(2) {
  border-radius: 0px;
}

::ng-deep .mdc-tab:nth-child(3) {
  border-top-left-radius: 0;
  border-top-right-radius: 16px;
}

::ng-deep .mat-mdc-tab-header {
  margin-left: -5rem;
}

.m-b {
  margin: 8.4rem 0 0 !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__content {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff !important;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  // color: #ffffff !important;
  // background-color: #5569dd;
}

// .user-management__text-box {
//   margin-bottom: 3.3rem !important;
// }
