.user-management__icon-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 4rem 0 0 0;

  &__icon {
    width: 4rem;
    height: 3rem;
  }

  &__icon--1 {
    width: 4rem;
    height: 3rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: #1e1e1e;
  }
}

.user-management__text-box {
  margin: 4rem 0 0 0;

  &--1 {
    margin: 4rem 0 4rem 0;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: #000000;
  }
}

.user-management__content {
  height: 63.2rem;
  margin: 0 0 0 0;
  border-radius: 0 1rem 1rem 1rem;
  background-color: #ffffff;
  position: relative;
  padding: 3rem;
  box-shadow: 0 0.4rem 0.4rem 0 #00000040;

  &--1 {
    height: 100%;
    margin: 0 0 0 0;
    border-radius: 0 1rem 1rem 1rem;
    background-color: #ffffff;
    position: relative;
    padding: 2rem 2rem 2rem;
    box-shadow: 0 0.4rem 0.4rem 0 #00000040;
  }
}

.user-management__main__text-box {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  &__title--1 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    color: #000000;
  }

  &__title--2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: #0f212f;
  }
}

.user-management__container {
  width: 100%;
  // padding: 0 3rem 0 3rem;
  margin: 0 auto;
}

.btn-export-size {
  width: 13rem;
  height: 3rem;
}

.btn-primary-size {
  width: 9.1rem;
  height: 3rem;
}

.user-management__button-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 5px;
    // background-color: var(color-button-primary) !important;
    box-shadow: 4px 4px 4px 0px #00000040;
    background-image: linear-gradient(to right bottom, #9e553e, #7c4230);
  }

  &__icon {
    width: 1.7rem !important;
    height: 2.3rem !important;
    margin: 0.7rem 0.7rem 0 0;
  }

  &__icon--1 {
    width: 1.8rem;
    height: 1.6rem;
    margin-right: 1rem;
  }

  &__title {
    width: 8.2rem;
    height: 1.6rem;
  }
}

.user-management__search-box-flex {
  margin: 2rem 0 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.8rem;
  height: 3rem;
  margin-left: -5rem;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
  }
}
// user-form-dialog

.form-dialog-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  // border-radius: 0.2rem 0.2rem 0rem 0;

  background-image: linear-gradient(
    to right bottom,
    #04030f,
    #04030f
  ) !important;
  padding: 0 1rem;

  &__text-box {
    width: 62.4rem;
    height: 2.4rem;
    font-family: "Poppins", sans-serif !important;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  &__icon-box {
    // width: 1.8rem;

    // style="background-color: #2a2e45; border: none; cursor: pointer"

    &__btn {
      border: none;
      background-color: #04030f;
      cursor: pointer;
    }
  }
}

.star {
  color: #eb5b47;
}

.form-dialog-conten-box-2 {
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 4rem;
}

.form-dialog-content {
  position: relative;
  &__title-box {
    margin-bottom: 1rem;
    margin-left: -1rem;
    &__title {
      font-family: "Poppins", sans-serif !important;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;
    }
  }

  &__field {
    width: 57.8rem;
    height: 4.4rem !important;
    border-radius: 10px !important;
    background-color: none;

    // border: 1px solid #808080 !important;

    &--grid-column {
      grid-column: 1/3;
      grid-row: 1/2;
      margin-bottom: 3rem;
    }

    // border: 1px solid #808080 !important;
  }

  &__field--2 {
    width: 25.2rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  &__field--3 {
    width: 28.6rem;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.5px;
  }

  // &__button-box {
  //   &__btn {

  //   }
  // }
}

.form-dialog-conten__button-box {
  // position: absolute;
  // top: 50%;
  // right: 0;

  &__btn {
    width: 8rem;
    height: 3.2rem;

    font-family: "Poppins", sans-serif !important;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 0.5rem;
    // background-color: var(color-button-primary) !important;
    background-image: linear-gradient(
      to right bottom,
      #9e553e,
      #7c4230
    ) !important;
    box-shadow: 4px 4px 10px 0px #00000040;
  }
}

.form-dialog-conten-button-box {
  text-align: right;
  margin-top: 2rem;
}

:host {
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  ::ng-deep
    .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #3b3b3b1f;
  }
}

:host {
  ::ng-deep .mat-mdc-select-arrow {
    width: 16px !important;
    height: 10px !important;
    background-color: #ffffff !important;
    background-image: url("../../../../assets/shared-image/Vector-risk-m.svg");
    background-position: center;
    background-size: cover;
  }
}

:host {
  ::ng-deep .mat-mdc-select-arrow svg {
    opacity: -1% !important;
  }
}

:host {
  ::ng-deep .mdc-notched-outline {
    border: 0.5px solid #808080 !important;

    border-radius: 1rem;
    overflow: auto;
    opacity: 55%;
  }
}
