.risk-report-button-box {
  &__btn {
    color: #ffffff !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #0f212f !important;

    &--4 {
      color: #ffffff !important;
      text-align: center;
      font-family: "Poppins", sans-serif !important;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      // background-color: #436280 !important;
      background-image: linear-gradient(to right, #436280, #30455b) !important;
    }
  }
}
