.mat-mdc-dialog-actions {
  justify-content: center;
  gap: 3rem;
}

.subheading {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  display: block;
  margin-bottom: 1.5rem;
  letter-spacing: 0.75px;
}

.delete-dialog-button-box {
  &__btn--no {
    width: 11.9631rem;
    height: 3.0107rem;

    font-family: "Poppins", sans-serif !important;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 5px;
    background-color: #0f212f !important;
    box-shadow: 4px 4px 4px 0px #00000040;
  }

  &__btn {
    width: 11.9631rem;
    height: 3.0107rem;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: center;

    color: #fafafa !important;
    border-radius: 5px;
    background-color: #eb5b47 !important;
    box-shadow: 4px 4px 4px 0px #00000040;
  }
}

.form-dialog-header[_ngcontent-mqw-c18] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;

  background-image: linear-gradient(
    to right bottom,
    #0f212f,
    #09151e
  ) !important;
  padding: 0 0.5rem;
}
