@import "../../sass/abstracts/variables";
@import "../../sass/components/button";
@import "../../sass/layout/admin-module/admin-module";
@import "../../sass/pages/admin-module/user-management";
// @import "../../../sass/components/table-user-management";

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.8rem;
  height: 3rem;
  margin-left: -5rem;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    // background-color: var(--color-Grey-light-2);
    border: 1px solid #808080;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 99%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      // width: 100%;
      border: 1px solid #b9b9b9;
    }

    &::-webkit-input-placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.1rem;
      letter-spacing: 0em;
      text-align: left;
      color: #808080;
    }
  }

  // &__input:focus + &__button {
  // }

  &__button {
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2.8rem;

    width: 2rem;
    position: relative;
    top: 0.2rem;
  }
}

.form-container {
  padding: 24px 0;
  position: relative;
  margin-top: -6rem;
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: fit-content;
    .sec-1 {
      width: 25%;
      position: relative;

      .search__button {
        right: 14px;
        position: absolute;
        .search__icon {
          width: 2rem;
        }
      }

      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;

          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }
    .sec-2 {
      position: relative;
      width: 15%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-3 {
      position: relative;
      width: 15%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-4 {
      position: relative;
      width: 15%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-5 {
      position: relative;
      width: 15%;
      .risk-management-form-field {
        position: relative;
        .risk-management-form-field__label {
          display: inline-block;
          color: #808080;
          font-family: "Poppins", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 2rem 1rem 0;
        }
        .risk-management-form-field-box__input-3 {
          font-family: inherit;
          font-size: inherit;
          color: #0f212f;
          border-radius: 1rem;
          border: 0.5px solid #808080;
          background-color: #ffffff;
          padding: 0.4rem 1rem;
          width: 100%;
          transition: all 0.2s;
          position: relative;
        }
      }
    }

    .sec-6 {
      position: relative;
      margin-top: 3rem;
    }
  }
}
