.content {
  // width: 90%;
  // display: block;
  // margin: 82px auto 0;
  // max-width: 1700px;
  // margin-bottom: 40px;
  // min-height: calc(100vh - 264px);
  min-height: calc(100vh - 180px);
}

// .content.admin {
//   // width: 100% !important;
//   // margin: 0 !important;
//   // max-width: 100% !important;
//   min-height: calc(100vh - 180px);
// }
